.contacts-table {
  display: table;
  font-family: sans-serif;
  font-size: 9pt;
}

.contacts-table .row {
  display: table-row;
}

.contacts-table .header {
  display: table-cell;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.contacts-table .cell {
  display: table-cell;
}