
.div-app {
  display: flex;
  flex-flow: row nowrap;

  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.6;
  color: #707070;

  height: 100vh;
}

.div-tarefas {
  min-width: 360px;
  background-color: #62c152;
  padding: 16px;
}

.div-rotas {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding: 16px;
}