.div-edit {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.div-titulo {
    font-family: sans-serif;
    color: #707070;
    font-size: 24px
}

.div-expandida {
    flex: 1
}

.div-form {
    padding: 8px;
    padding-left: 90px;
}

.table-form {
    font-family: sans-serif;
    font-size: 18px;
    color: #707070;
}
.texto{
    font-size: 17px
}

.texto2{
    font-size: 20
}

.div-botoes {
    display: flex;
    flex-flow: row nowrap;
}

.botao-form {
    appearance: none;
    padding: 20px 40px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    margin: 0px 8px;
    cursor: pointer;
    outline: none;
}

.botaoExcluir{
    background-color: #FF0000;
    color: #ffffff;
}

.botaoCancelar{    
    color: #62c152;
    border: 1px solid #62c152;
}

.botaoSalvar{
    background-color:#62c152;
    color: #ffffff ;
}

.caixasDeTexto{
    appearance: none;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px 4px;  
    width: 100%;
}