header {
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

main {
  padding-top: 56px;
}