ul {
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
hr  {
    color: #ffffff;
}
.title {
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-size: 24px;
}

.item-tarefa {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 8px 0;
}

.marcador {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-right: 8px;
}

.imagem-check {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}