.div-home {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

p {
    text-align: center;
}

.fab-criar {
    position: fixed;
    bottom: 54px;
    right: 54px;
    padding: 16px;
    border: 0;
    border-radius: 50%;
    background-color: #62c152;

    display: flex;
    flex-flow: column nowrap;
 }
 
 .fab-mais {
     width: 32px;
     height: 32px;
 }